*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-weight: 300;
  font-family: 'Quicksand', sans-serif;
  background-color: #fff;
  font-style: normal;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
._container {
  max-width: 1160px;
  margin: 0px auto;
  padding: 0px 15px;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.main-button {
  background: #0f7bff;
  border-radius: 25px;
  padding: 15px 50px;
  color: #fff;
  font-weight: 700;
  border: 2px solid #0f7bff;
  min-height: 50px;
  text-align: center;
  line-height: 125%;
  transition: all 0.3s ease 0s;
}
.main-button:hover {
  background: #ffffff;
  border: 2px solid #0f7bff;
  border-radius: 25px;
  color: #0f7bff;
}
.page {
  flex: 1 1 auto;
}
.page__features {
  position: relative;
}
/*    HEADER ---------------------------------------------------------------------- */
.header {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
}
.header__logo__text {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f7bff;
  width: 180px;
  height: 100px;
  border-radius: 0px 0px 21.5px 21.5px;
}
.header__menu {
  display: flex;
  justify-content: space-between;
}

.menu {
  padding: 5px 0px;
}
.menu__list:not(:last-child) {
  margin: 0px 50px 0px 0px;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu__item {
}
.menu__item:not(:last-child) {
  margin: 0px 40px 0px 0px;
}
.menu__link {
  color: #929292;
  line-height: calc(20 / 16 * 100%);
  font-weight: 500;
}
.menu__link:hover {
  color: #0f7cff;
}
.header__button {
  background: #0063dd;
}
/* .header__button {
  background: #0063dd;
  border-radius: 25px;
  padding: 15px 50px;
  color: #fff;
  font-weight: 700;
  border: 2px solid #0f7bff;
}
.header__button:hover {
  background: #ffffff;
  border: 2px solid #0f7bff;
  border-radius: 25px;
  color: #0f7bff;
} */
/*    PAGE ---------------------------------------------------------------------- */
.page {
  flex: 1 1 auto;
}
/*    MAIN-BLOCK ---------------------------------------------------------------------- */

.main-block {
  position: relative;
  background: url(/img/Background.jpg) no-repeat;
  background-size: cover;
}
.main-block__content {
  padding: 100px 0px 0px 0px;
}
.main-block__header-block {
}
.header-block {
  padding: 88px 0px 108px 0px;
  position: relative;
  z-index: 2;
  max-width: 655px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-block > *:not(:last-child) {
  margin-bottom: 30px;
}
.header-block__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
}
.header-block__subtitle {
  line-height: 169%;
  color: #929292;
}
.header-block__buttons {
  display: flex;
  flex-wrap: wrap;
  /* margin: -30px 0px; */
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.main-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.main-block__button:not(:last-child) {
  margin-right: 30px;
}

.main-block__devices {
  position: relative;
  z-index: 2;
  flex: 0 1 33.333%;
}
.devices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 50px 40px;
}
.main-block__down {
  z-index: 2;
  position: relative;
  width: 70px;
  height: 70px;
  margin: 0 auto;
}
/*    FEATURES ---------------------------------------------------------------------- */
.features {
  background-color: #f5fcfd;
  padding-top: 165px;
  padding-bottom: 130px;
}
.features__container {
}
.features__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 340px;
}

.features__column {
  flex: 0 1 33.333%;
  padding: 0px 15px;
}

.features__item {
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(255, 210, 210, 0.07);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-features {
}
.item-features > *:not(:last-child) {
  margin-bottom: 25px;
}
.item-features_main {
  align-self: flex-end;
}

.item-features__icon {
  display: flex;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}
.item-features__icon_blue {
  background-color: #dfedff;
}
.item-features__icon_purple {
  background-color: #f5dfff;
}
.item-features__icon_green {
  background-color: #dfffe3;
}
.item-features__title {
  line-height: calc(22 / 18 * 100%);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.item-features__text {
  line-height: calc(20 / 16 * 100%);
  text-align: center;
}
/*  ABOUT ---------------------------------------------------------------------- */
.page__about {
}
.about {
  padding: 100px 0px 140px 0px;
}
.about__container {
}
._container {
}
.about__body {
  position: relative;
}
.about__body > *:not(:last-child) {
  margin-bottom: 230px;
}
.about__top {
  display: flex;
}
.about__top > *:not(:last-child) {
  margin-right: 130px;
}
.about__top__image {
  flex: 0 1 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.about__item {
  flex: 1 1 50%;
}
.item-about {
  display: flex;
  flex-direction: column;
  padding: 95px 5px 55px 5px;
}
.item-about > *:not(:last-child) {
  margin-bottom: 30px;
}
.item-about__title {
  font-weight: 500;
  font-size: 32px;
  line-height: calc(40 / 32 * 100%);
}
.item-about__text {
  line-height: 150%;
}
.item-about__more {
  color: #0063dd;
  font-weight: 500;
  line-height: 150%;
  display: flex;
}
.item-about__more > *:not(:last-child) {
  margin-right: 15px;
}
.about__bottom {
  display: flex;
}
.about__image__background_top {
  position: absolute;
  z-index: -1;
  width: 390px;
  height: 480px;
  background: linear-gradient(147.4deg, #0f7bff 7.27%, #0063dd 93.68%);
  border-radius: 40px;
  transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
  left: 2%;
}
.about__image__background_bottom {
  position: absolute;
  z-index: -1;
  width: 390px;
  height: 480px;
  background: linear-gradient(272deg, #0f7bff 4.58%, #0063dd 78.9%);
  border-radius: 40px;
  transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
  right: 2%;
  bottom: -8%;
}
