*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
aside,
nav,
footer,
header,
section {
  display: block;
}
html,
body {
  height: 100%;
  line-height: 150%;
  font-size: 16px;
  color: #000;
  font-weight: 300;
  font-family: 'Quicksand', sans-serif;
  background-color: #fff;
  font-style: normal;
}
body._lock {
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  max-width: 100%;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
._container {
  max-width: 1160px;
  margin: 0px auto;
  padding: 0px 15px;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.main-button {
  background-color: #fff;
  border-radius: 25px;
  padding: 15px 50px;
  color: #0f7bff;
  font-weight: 700;
  border: 2px solid #0f7bff;
  min-height: 50px;
  text-align: center;
  line-height: 125%;
  transition: all 0.3s ease 0s;
}
.main-button:hover {
  background: #0f7bff;
  color: #fff;
}
.main-button_fill {
  background: #0f7bff;
  color: #fff;
}
.main-button_fill:hover {
  background: #ffffff;
  color: #0f7bff;
}
.page {
  flex: 1 1 auto;
}
.page__features {
  position: relative;
}
/*    HEADER ---------------------------------------------------------------------- */
.header {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 50;
  display: flex;
  justify-content: center;
}
.header__container {
  width: 100%;
  display: flex;
  min-height: 100px;
  max-width: 104rem;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}
.header__logo__text {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f7bff;
  width: 180px;
  height: 100px;
  border-radius: 0px 0px 21.5px 21.5px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
}
.menu__icon {
  display: none;
}
.menu {
  padding: 5px 0px;
}
.menu__body {
  display: flex;
}
.menu__list:not(:last-child) {
  margin: 0px 50px 0px 0px;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu__item {
}
.menu__item:not(:last-child) {
  margin: 0px 40px 0px 0px;
}
.menu__link {
  color: #929292;
  line-height: calc(20 / 16 * 100%);
  font-weight: 500;
}
.menu__link:hover {
  color: #0f7cff;
}
.header__button {
  background: #0063dd;
}
/* .header__button {
  background: #0063dd;
  border-radius: 25px;
  padding: 15px 50px;
  color: #fff;
  font-weight: 700;
  border: 2px solid #0f7bff;
}
.header__button:hover {
  background: #ffffff;
  border: 2px solid #0f7bff;
  border-radius: 25px;
  color: #0f7bff;
} */
/* @media (max-width: 767px) {
  .header__logo__text {
    font-size: 30px;
  }
} */

@media (max-width: 767px) {
  .menu__icon {
    position: relative;
    z-index: 5;
    display: block;
    cursor: pointer;
    width: 30px;
    height: 18px;
  }
  .menu__icon::before,
  .menu__icon::after,
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #0063dd;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: '';
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(147.4deg, #0f7bff 10.27%, #a7bdd8 50.68%);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    flex-direction: column;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
  }
  .menu__list:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .menu__item:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .menu__link {
    color: #fff;
    font-size: 24px;
  }
  .header__button {
    font-size: 24px;
  }
}
/*    PAGE ---------------------------------------------------------------------- */
.page {
  flex: 1 1 auto;
}
/*    MAIN-BLOCK ---------------------------------------------------------------------- */

.main-block {
  position: relative;
  background: url(/img/homepage/background.png) no-repeat;
  background-size: cover;
  padding: 100px 0px 0px 0px;
}
.main-block__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.main-block__header-block {
}
.header-block {
  padding: 88px 0px 108px 0px;
  max-width: 655px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-block > *:not(:last-child) {
  margin-bottom: 30px;
}
.header-block__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
}
.header-block__subtitle {
  line-height: 169%;
  color: #929292;
}
.header-block__buttons {
  display: flex;
  flex-wrap: wrap;
  /* margin: -30px 0px; */
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.main-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 30px;
}
/* .main-block__button:not(:last-child) {
  margin-right: 30px;
} */

.main-block__devices {
}
.devices {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 805px;
}

.main-block__device_left {
  background: url(/img/homepage/phone-left.png);
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 265px;
  height: 400px;
}
.main-block__device_center {
  background: url(/img/homepage/phone-center.png);
  width: 320px;
  height: 495px;
  z-index: 2;
}
.main-block__device_right {
  background: url(/img/homepage/phone-right.png);
  background-position: -10px -10px;
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 265px;
  height: 400px;
}
.main-block__device {
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .main-block__device {
  width: 320px;
  height: 208px;
  overflow: hidden;
}
.main-block__device img {
  background-size: cover;
  position: relative;
  top: -10px;
} */
.main-block__down {
  position: absolute;
  bottom: -60px;
  bottom: 15px;
  width: 114px;
  height: 114px;
  z-index: 3;
  text-align: center;
}
.main-block__down img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1280px) {
  .header-block {
    padding: 63px 0px 50px 0px;
  }
}
@media (max-width: 767px) {
  .header-block {
    padding: 40px 0px 50px 0px;
  }
  .header-block__title {
    font-size: 28px;
  }
  .main-block {
    background-image: none;
  }
  .main-block__devices {
    display: none;
  }
  .main-block__down {
    width: 70px;
    height: 70px;
    bottom: -35px;
  }
  .main-block__button {
    /* flex: 1 1 auto; */
    margin: 10px;
  }
}
@media (max-width: 480px) {
  .main-block__button {
    flex: 1 1 auto;
  }
}
/* @media (max-width: 420px) {
  .main-block__button {
    margin: 10px 0px;
  }
} */
/*    FEATURES ---------------------------------------------------------------------- */
.features {
  background-color: #f5fcfd;
  padding: 165px 0px 130px 0px;
  position: relative;
  margin: -80px 0px 0px 0px;
  z-index: 2;
}
.features__container {
}
.features__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.features__column {
  flex: 0 1 33.333%;
  padding: 0px 15px;
}

.features__item {
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(255, 210, 210, 0.07);
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-features {
}
.item-features > *:not(:last-child) {
  margin-bottom: 25px;
}
.item-features_main {
  /* align-self: flex-end; */
  margin-top: 50px;
}

.item-features__icon {
  display: flex;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}
.item-features__icon_blue {
  background-color: #dfedff;
}
.item-features__icon_purple {
  background-color: #f5dfff;
}
.item-features__icon_green {
  background-color: #dfffe3;
}
.item-features__title {
  line-height: calc(22 / 18 * 100%);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.item-features__text {
  line-height: calc(20 / 16 * 100%);
  text-align: center;
}
@media (max-width: 1280px) {
  .page__features {
    padding: 80px 0px;
  }
}
@media (max-width: 992px) {
  .features__column {
    flex: 0 1 50%;
  }
  .features__column:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .features__column:last-child {
    flex: 1 1 100%;
  }
  .item-features_main {
    /* align-self: flex-end; */
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  .page__features {
    padding: 40px 0px;
  }
  .features {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 680px) {
  .features__column {
    flex: 1 1 100%;
    margin: 10px -30px;
  }
  .features__column:not(:last-child) {
    margin: 0px -30px 10px;
  }
}

/*  ABOUT ---------------------------------------------------------------------- */
.page__about {
}
.about {
  padding: 60px 0px 115px 0px;
}
.about__container {
}
.about__body {
  position: relative;
}
.about__top {
  display: flex;
  margin-bottom: 230px;
}

.about__top__image {
  flex: 0 1 50%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.about__top__image img {
  position: relative;
  z-index: 3;
}
.about__bottom__image img {
  position: relative;
  z-index: 3;
}

.about__item {
  flex: 1 1 50%;
}
.item-about {
  display: flex;
  flex-direction: column;
  padding: 95px 5px 55px 5px;
}
.item-about > *:not(:last-child) {
  margin-bottom: 30px;
}
.item-about__title {
  font-weight: 500;
  font-size: 32px;
  line-height: calc(40 / 32 * 100%);
}
.item-about__text {
}

.more {
  color: #0063dd;
  font-weight: 500;
  display: flex;
  cursor: pointer;
}
.more img {
  width: 67px;
}
/* .item-about__more:hover {
  min-height: 50px;
  border: 1px solid #0f7bff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 70px;
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
} */
.more > *:not(:last-child) {
  margin-right: 15px;
}
.about__bottom {
  display: flex;
}
.about__image__background_top {
  position: absolute;
  z-index: 2;
  width: 390px;
  height: 480px;
  background: linear-gradient(147.4deg, #0f7bff 7.27%, #0063dd 93.68%);
  border-radius: 40px;
  transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
  left: 2%;
}
.about__image__background_bottom {
  position: absolute;
  z-index: 2;
  width: 390px;
  height: 480px;
  background: linear-gradient(272deg, #0f7bff 4.58%, #0063dd 78.9%);
  border-radius: 40px;
  transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
  right: 2%;
  bottom: -8%;
}
@media (min-width: 787px) {
  .about__top > *:not(:last-child) {
    margin-right: 30px;
  }
  .about__bottom > *:not(:last-child) {
    margin-right: 70px;
  }
}
@media (min-width: 992px) {
  .about__top > *:not(:last-child) {
    margin-right: 130px;
  }
  .about__bottom > *:not(:last-child) {
    margin-right: 145px;
  }
}
@media (max-width: 992px) {
  .about {
    padding: 40px 0px 40px 0px;
  }
  .about__top {
    margin-bottom: 70px;
  }

  .about__image__background_top {
    width: 300px;
    height: 390px;
  }
  .about__image__background_bottom {
    width: 300px;
    height: 390px;
    bottom: 6%;
  }
}
@media (max-width: 787px) {
  .about__top {
    flex-direction: column;
  }
  .about__bottom {
    flex-direction: column-reverse;
  }
  .about__top {
    flex-direction: column;
  }
  .about__image__background_bottom {
    bottom: 26%;
    left: 10%;
  }
}
@media (max-width: 480px) {
  .about {
    padding: 40px 0px 40px 0px;
  }
  .about__top {
    margin-bottom: 70px;
  }

  .about__image__background_top {
    width: 210px;
    height: 300px;
  }
  .about__image__background_bottom {
    width: 210px;
    height: 300px;
    bottom: 28%;
  }
  .item-about {
    padding: 75px 0 0 0;
  }
  .about__bottom .item-about {
    padding: 10px 0 0 0;
  }
}

/*  how-works ---------------------------------------------------------------------- */
.page__how-works {
}
.how-works {
  background-color: #f5fcfd;
  padding: 120px 0px 140px 0px;
}
.how-works__container {
}
.how-works__header {
  max-width: 720px;
  text-align: center;
  margin: 0px auto 45px;
}
.header__title {
  font-weight: 400;
  font-size: 32px;
  line-height: calc(40 / 32 * 100%);
  margin-bottom: 25px;
}
.header__text {
}
.how-works__body {
  position: relative;
  display: flex;
}
.how-works__line {
  position: absolute;
  z-index: 0;
  top: 20%;
  left: 18%;
  width: 780px;
  border-top: 2px dashed #0f7bff;
  width: 70%;
}
.how-works__column {
  flex: 0 1 33.333%;
  z-index: 1;
}
/* .how-works__column:not(:last-child) {
  margin-right: 55px;
} */
.how-works__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-how-works {
}
.item-how-works__icon {
  margin-bottom: 30px;
}
.item-how-works__content {
  text-align: center;
}
.item-how-works__content > *:not(:last-child) {
  margin-bottom: 20px;
}
.item-how-works__title {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18 * 100%);
}
.item-how-works__text {
}
@media (min-width: 767px) {
  .how-works__column:not(:last-child) {
    margin-right: 55px;
  }
}
@media (max-width: 1280px) {
  .how-works {
    background-color: #f5fcfd;
    padding: 70px 0px 70px 0px;
  }
}
@media (max-width: 767px) {
  .how-works__body {
    flex-direction: column;
  }
  .how-works__column:not(:last-child) {
    margin-bottom: 20px;
  }
  .how-works__line {
    display: none;
  }
}
/*  PRICING ---------------------------------------------------------------------- */
.page__pricing {
  padding: 130px 0px;
}
.pricing {
}
.pricing__container {
}
.pricing__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pricing__content {
  display: flex;
  flex-direction: column;
  width: 332px;
  margin-right: 60px;
}
.pricing__title {
  font-weight: 500;
  font-size: 32px;
  line-height: calc(40 / 32 * 100%);
  margin-bottom: 30px;
}
.pricing__text {
  margin-bottom: 40px;
}
.pricing__buttons {
  display: flex;
}
.pricing__button_left {
  border-radius: 25px 0px 0px 25px;
  border-right: none;
}
.pricing__button_right {
  border-radius: 0px 25px 25px 0px;
}
.pricing__column {
  flex: 0 1 50%;
}
.pricing__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0px 45px 0px;
  box-shadow: 0px 4px 20px rgba(0, 78, 172, 0.08);
  border-radius: 5px;
  width: 362px;
}
.pricing__item:not(:last-child) {
  margin-right: 30px;
}
.item-pricing {
}
.item-pricing__icon {
}
.item-pricing__title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18 * 100%);
}
.item-pricing__line {
  border: solid 1px #e9f3f8;
  width: 80%;
  margin: 20px;
}
.item-pricing__content {
}
.item-pricing__service {
  line-height: 184%;
  text-align: center;
}
.item-pricing__buy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-pricing__buy > * {
  margin-top: 25px;
}
/* .item-pricing__buy > *:not(:last-child) {
  margin-bottom: 25px;
} */
.currency {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18 * 100%);
  color: #0f7bff;
}
.price {
  font-weight: 500;
  font-size: 32px;
  line-height: calc(40 / 32 * 100%);
  color: #0f7bff;
}
@media (min-width: 670px) {
  .pricing__column:not(:last-child) {
    margin-right: 30px;
  }
}
@media (max-width: 1120px) {
  .pricing__body {
    flex-wrap: wrap;
    justify-content: center;
  }
  .pricing__content {
    margin: 0;
    width: 100%;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
  }
  .page__pricing {
    padding: 70px 0px;
  }
  .pricing__column {
    flex: 0 0 auto;
  }
  .pricing__item {
    width: 320px;
  }
}
@media (max-width: 480px) {
  .pricing__item {
    width: 320px;
  }
  .item-pricing__buy {
    width: 100%;
  }
  .item-pricing__buy button {
    width: 100%;
  }
  .page__pricing {
    padding: 30px 0px;
  }
}

/*  REVIEWS ---------------------------------------------------------------------- */
.page__reviews {
}
.reviews {
  display: flex;
  background-color: #f5fcfd;
  align-items: center;
}
.reviews__image {
  min-width: 350px;
}
.reviews__container {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 20px 0;
}
.reviews__body {
  min-width: 0;
  margin-left: 100px;
}
.reviews__title {
  font-weight: bold;
  font-size: 32px;
  line-height: calc(40 / 32 * 100%);
  margin-bottom: 40px;
}
.review-slider {
}
.swiper {
}
.review-slider__wrapper {
  margin-bottom: 40px;
}
.swiper-wrapper {
}
.review-slider__slide {
  padding: 40px 30px;
  max-width: 360px;
  width: auto;
  height: 215px;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
}
.swiper-slide {
}
.review-item {
  position: relative;
}
.review-item__icon {
  position: absolute;
  top: 19%;
  right: 9%;
}
.review-item__header {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18 * 100%);
  margin-bottom: 10px;
}
.review-item__sub-header {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14 * 100%);
  color: #999999;
  margin-bottom: 25px;
}
.review-item__text {
  font-weight: 400;
  line-height: (20/16 * 100%);
  color: #999999;
}
.review-slider .swiper-pagination {
  bottom: 0;
  left: 0;
  text-align: left;
}
.review-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #f5fcfd;
  border: 1.6px solid #0063dd;
  border-radius: 32px;
  opacity: 1;
}
.review-slider .swiper-pagination-bullet-active {
  width: 38px;
  height: 12px;
  background-color: #0063dd;
  border: 1.6px solid #0063dd;
  border-radius: 32px;
}
@media (max-width: 1120px) {
  .reviews__body {
    margin-left: 20px;
  }
}
@media (max-width: 992px) {
  .reviews__image {
    display: none;
  }
  .reviews__title {
    font-size: 28px;
  }
}
@media (max-width: 500px) {
  .review-slider {
    max-width: 480px;
    margin: 0px -15px;
    padding: 0;
  }
  .review-slider__slide {
    padding: 10px;
    max-width: 320px;
  }
}

/*  NEWS ---------------------------------------------------------------------- */
.page__news {
  padding: 130px 0px 105px 0px;
}
.news {
}
.news__container {
}
._container {
}
.news__header {
  text-align: center;
  margin-bottom: 40px;
}
.news__title {
  font-weight: bold;
  font-size: 32px;
  line-height: calc(40 / 32 * 100%);
  margin-bottom: 25px;
}
.news__text {
}
.news__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news__main {
  flex: 0 0 47%;
}
.post {
}
.post__image {
  margin-bottom: 30px;
  width: 100%;
}
.post__preview {
  height: 130px;
  margin-right: 30px;
  width: 165px;
}

.post__wrapper {
}
.post__header h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 25px;
}
.post__big h2 {
  font-size: 24px;
  color: #0063dd;
}
.post__content {
  margin: 30px 0px 35px 0px;
}
.post__footer {
}
.post__more {
}
.more {
}
.more__text {
}
.news__side {
  flex: 0 1 50%;
}
.news__side .post {
  display: flex;
}

@media (max-width: 992px) {
  .page__news {
    padding: 70px 0px 70px 0px;
  }
  .news__main {
    flex: 1 1 100%;
  }
  .news__side {
    flex: 1 1 100%;
    margin: 20px 0;
  }
  .post:not(:last-child) {
    margin-bottom: 20px;
  }
  .news__title {
    font-size: 28px;
  }
  .post__big h2 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .page__news {
    padding: 30px 0px 30px 0px;
  }
  .post__content {
    margin: 10px 0;
  }
  .post__preview {
    height: 78px;
    margin-right: 10px;
    width: 99px;
  }
}
/*  free-trial ---------------------------------------------------------------------- */
.page__free-trial {
}
.free-trial {
  background-color: #f5fcfd;
  padding: 133px 0px 113px 0px;
}
.free-trial__container {
}
._container {
}
.free-trial__body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.free-trial__title {
  font-weight: 700;
  font-size: 32px;
  line-height: calc(40 / 32 * 100%);
}
.free-trial__title:not(:last-child) {
  margin: 0px 0px 25px 0px;
}
.free-trial__text {
}
.free-trial__button {
  display: flex;
  min-height: 50px;
  background-color: #0f7bff;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 15px 70px;
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
}
.free-trial__button > *:not(:last-child) {
  margin-right: 15px;
}
@media (min-width: 992px) {
  .free-trial__content {
    margin-right: 155px;
  }
}
@media (max-width: 992px) {
  .free-trial {
    padding: 70px 0px;
  }
  .free-trial__title {
    font-size: 28px;
  }
  .free-trial__content {
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .free-trial {
    padding: 40px 0px 40px 0px;
  }
  .free-trial__body {
    flex-direction: column;
  }
  .free-trial__content {
    margin-bottom: 20px;
    text-align: center;
  }
}
/*    SUBSCRIBE ---------------------------------------------------------------------- */

.subscribe {
  /* position: relative;
  padding: 0px 0px 20px 0px; */
  background-color: #0f7bff;
  padding: 120px 0px;
}
.subscribe__container {
}
.subscribe__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(45 / 36 * 100%);
  color: #ffffff;
  text-align: center;
}
.subscribe__title:not(:last-child) {
  margin-bottom: 30px;
}
.subscribe__form {
  display: flex;
  align-items: center;
  width: 558px;
}
.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  padding: 0 40px;
  min-height: 50px;
  border-radius: 25px 0px 0px 25px;
  background: #0063dd;
  border: 1px solid #0063dd;
  color: #fff;
  outline: none;
  font-family: Quicksand;
  border-right: 0;
  font-weight: normal;
  font-size: 16px;
}
input[type='email']::-moz-placeholder {
  color: #fff; /* Цвет подсказывающего текста */
}
input[type='email']::-webkit-input-placeholder {
  color: #fff;
}
input[type='email']:-ms-input-placeholder {
  color: #fff;
}
input[type='email']::-ms-input-placeholder {
  color: #fff;
}
input[type='email']::placeholder {
  color: #fff;
}
.subscribe__button {
  font-family: Quicksand;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 0px 25px 25px 0px;
  display: flex;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0063dd;
  padding: 0 40px;
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
  font-weight: 700;
}
.subscribe__button:hover {
  background-color: #fff;
}
@media (max-width: 992px) {
  .subscribe {
    padding: 70px 0px;
  }
}
@media (max-width: 767px) {
  .subscribe {
    padding: 40px 0px;
  }
  .subscribe__form {
    width: 100%;
  }
  .subscribe__button {
    padding: 0px 10px;
  }
  .subscribe__input {
    padding: 0px 10px;
  }
}

/*    FOOTER ---------------------------------------------------------------------- */
.footer {
  background-color: #0063dd;
  padding: 50px 45px;
}
.footer__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-items: baseline;
}
.footer__container > *:not(:last-child) {
  margin-right: 10px;
}
.footer__copy {
  color: #fff;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
}
.footer__nav-item {
  cursor: pointer;
  color: #fff;
}
.footer__nav-item:not(:last-child) {
  margin-right: 40px;
}
.footer___social {
}
.social {
  display: flex;
  align-items: center;
}
.social__item {
}
.social__item:not(:last-child) {
  margin-right: 15px;
}
@media (max-width: 992px) {
  .footer__container > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 20px 0px;
  }
}

@media (max-width: 520px) {
  .footer__nav {
    flex-direction: column;
  }
  .footer__container {
    justify-content: left;
  }
}

/*    SCROLL ---------------------------------------------------------------------- */
.scroll {
  position: fixed;
  bottom: 17%;
  right: 2%;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  z-index: 50;
  transition: all 0.3s ease 0s;
  border: 1px solid #0f7bff;
  opacity: 1;
}
.scroll:hover {
  background-color: rgb(197, 220, 255);
}
.scroll a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.scroll img {
  width: 100%;
  height: 100%;
}
.hide {
  opacity: 0;
  pointer-events: none;
}
.hide a {
  cursor: auto;
}
@media (max-width: 1440px) {
  .scroll {
    width: 50px;
    height: 50px;
  }
}
